
{% extends 'base_n.html' %}

{% block content %}
<div class="content middle_container">
    <h1>About</h1>
    <div>
      The Recipe Search website is designed to provide users with a convenient way to explore and discover various recipes. 
      As a guest user, you can freely search and browse through a wide range of recipes available in our system. 
      Once you create an account and log in, you gain access to additional features, 
      including the ability to contribute your own recipes to our growing collection. 
      Join our community of food enthusiasts and start sharing your favorite recipes with others. Happy cooking!
    </div>
    <h2>Source Code and Deployment Details</h2>
    <div>The source code of this website is publicly available on <a href="https://github.com/lucilsandaruwan/recipe" target="_blank"> source link </a>. 
        You can explore the code repository to gain insights into the implementation details and contribute to its development. 
        Additionally, the deployment instructions and other important information can be found in the accompanying Readme file. 
        Feel free to check it out to learn more about how this website is set up and deployed.
    </div>
    <h2>Features and task break down</h2>
    <div>The excel file for planning can be found in resources directory</div>
    <div class = "image-container">
        <img class="planning" src="{{ url_for('static', filename='images/site/project_planing.jpg') }}"/>
    </div>
    <h2>UI Highlights</h2>
    <div class="ui-highlights">
        <ul>
            <li>
                The template is designed with a responsive layout optimized for three different devices:
                <ol>
                    <li>Desktop: The layout expands up to a maximum width of 90em (equivalent to 1440px, assuming a default font size of 16px). The main content is contained within a 990px frame, providing a clean and readable white background.</li>
                    <li>Tablet: The layout adjusts to a maximum width of 100% when the screen size of the device is less than or equal to 48em, ensuring optimal display and usability on tablets.</li>
                    <li>Mobile Phones: The layout adapts to a maximum width of 100% for screen sizes smaller than or equal to 30em, ensuring a seamless and user-friendly experience on mobile phones.</li>
                </ol>
                These responsive design choices are implemented using media queries to ensure the template's adaptability and readability across different devices.
            </li>
        </ul>
    </div>
</div>
{% endblock %}

