
{% extends 'base_n.html' %}

{% block content %}
<div class="content middle_container">
    <h1>About</h1>
    <div>
      The Recipe Search website is designed to provide users with a convenient way to explore and discover various recipes. 
      As a guest user, you can freely search and browse through a wide range of recipes available in our system. 
      Once you create an account and log in, you gain access to additional features, 
      including the ability to contribute your own recipes to our growing collection. 
      Join our community of food enthusiasts and start sharing your favorite recipes with others. Happy cooking!
    </div>
    <h2>Source Code and Deployment Details</h2>
    <div>The source code of this website is publicly available on <a href="https://github.com/lucilsandaruwan/recipe" target="_blank"> source link </a>. 
        You can explore the code repository to gain insights into the implementation details and contribute to its development. 
        Additionally, the deployment instructions and other important information can be found in the accompanying Readme file. 
        Feel free to check it out to learn more about how this website is set up and deployed.
    </div>
</div>
{% endblock %}

