/* this file is to style forms */
.page-container .content {
    max-width: 990px;
    margin: 0 auto;
    position: relative;
}
.form-group {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 1em;
}
.form-group dt{
    width: 20%;
    padding: 1em;
    text-align: right;
}
.form-group label {
    width: 100%;
    text-align: right;
}
.form-group dd {
    width: 70%;
    margin-right: 2em;
}
.form-group  input, .form-group  select, .form-group textarea {
    background-color: #f2f2f2;
    border: none;
    border-radius: 1em;
    padding: 1em;
    width: 95%;
    color: #333;
    box-shadow: 0px 0px 5px #888;
    -webkit-appearance: none; /* Safari and Chrome */
    -moz-appearance: none; /* Firefox */
    appearance: none;
}

.form-group textarea {
    height: 5em;
}

/* errors */

.form-group-error {
    color: red;
}

.form-group-error  input {
    box-shadow:0 0 5px red;
}

.form-group-error span {
    margin-top: 1em;
    display: block;
}
.action-button {
    width: 100%;
    display: flex;
    justify-content: right;
    margin-top: 1em;
    height: 9em;
}

.action-button button {
    border: none;
    border-radius: 1em;
    padding: 1em;
    width: 23%;
    cursor: pointer;
    box-shadow: 0px 0px 5px #888;
    margin: 1em;
    height: 4em
}

.action-button button.submit {
    background-color: #00539f;
    color: #fff;
}

/* style for ingradient form groups */
.form-list-group { 
    width: 100%;    
}
.form-list-group .field-list { 
    width: 100%;
    display: flex;
    margin: 2em 0;
    justify-content: space-between;
}

.form-list-group .field-list .form-group-lable{ 
    width: 20%;
    padding: 1em;
    text-align: right;
}

.form-list-group .field-list .form-group-wrapper{ 
    width: 60%;
    padding: 1em;
    font-size: 0.75em;
}

.form-list-group .field-list .form-group-action{ 
    width: 10%;
    padding: 1em;
    font-size: 0.75em;
}

.form-list-group .field-list .form-group-wrapper .form-group{ 
    margin-top: 1em;
}

.add-f-group-item {
    text-align: right;
    padding-right: 2em;
}


@media (min-width: 48em) {
    .add-f-group-item a, .delete-f-group-item a {
        display: inline-block;
        padding: 0.2em 0.5em;
        background-color: #eaeaea;
        color: #333;
        text-decoration: none;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
}
  
.delete-f-group-item a {
    color: red;
}