/* stile of recipe containers to use flex layout */
.recipe-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.card-block {
    width: 27%;
    margin: 1%;
    text-align: center;
    /* border: 1px solid; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 1em;
}

/* style a inside the block */
.card-block a {
    text-decoration: none;
}

.card-block img {
    border: 1px solid #00539f;
    max-width: 100%;
    max-height: 28vh;
}

.card-block .title {
    padding: 1em;
}


/* stile title of recipe banners to get the text into center */
.recipe-banners h2{
    width: 100%;
    text-align: center;
}

/* mobile - tabs */
@media (max-width: 48em) {
    .card-block {
        width: 40%;
        margin: 1%;
    }
}

/* mobile - phonse */
@media (max-width: 30em) {
    .card-block {
        width: 95%;
        margin:1em 1%;
    }
}
