
{% from "element_helpers.html" import render_link %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="{{ url_for('static', filename='images/site/favicon.ico') }}" type="image/x-icon">
    <!-- include css files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/slider.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/recipes_containers.css') }}">
    {% if page_css %}
        {% for css in page_css %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=css) }}">
        {% endfor %}
    {% endif %}
    <!-- include js files -->
    <script src="{{ url_for('static', filename='scripts/menue.js') }}"></script>
    {% if page_js %}
        {% for js in page_js %}
        <script src="{{ url_for('static', filename=js) }}"></script>
        {% endfor %}
    {% endif %}
</head>

<body>
    <!-- main wrapper to set the site area -->
    <div class="main">
        <!-- header section to load navigations and log -->
        <div class="header">
            <!-- top most navigation bar -->
            <div class="global-header">
                <ul>
                {% if current_user.is_authenticated %}
                    <li> {{render_link(url_for('auth.profile'), 'Profile', '', '/auth/profile')}}</li>
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                {% else %}
                    <li> {{render_link(url_for('auth.register'), 'Register', '', '/auth/register')}}</li>
                    <li>{{render_link(url_for('auth.login'), 'Lgoin', '', '/auth/login')}}</li>
                {% endif %}
                </ul>
            </div>
            <!-- top most navigation bar end -->

            <!-- header contents including logo and search bar -->
            <div class="content">
                <!-- logo image -->
                <div class="logo">
                    <a href="/"><img src="{{ url_for('static', filename='images/site/logo.jpg') }}" /></a>
                </div>
                <!-- search block visible in desktop -->
                <div class="cont-search_wrapper">
                    {% include 'snippets/search_snippet.html'  %}
                </div>
                <!-- wrapper for icons to display in mobile devices -->
                <div class="mob-header-icons">
                    <!-- hamburger menue button visible in mobile devices (phons and tabs) -->
                    <a href="javascript:void(0);" class="icon" onclick="navbarToggle()">
                        <div class="hamburger">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </div>
                    </a>
                    <!-- search button icon for phones -->
                    <a href="javascript:void(0);" class="icon" onclick="searchbarToggle()">
                        <div class="search-icon"><img src="{{ url_for('static', filename='images/site/search.jpg') }}"/></div>
                    </a>
                    
                </div>
                
            </div>
            <!-- header contents including logo and search bar end -->

            <!-- main navigation bar -->
            <div class="topnav" id="myTopnav">
                {{render_link(url_for('pages.home'), 'Home', '', '/')}}
                {{render_link(url_for('pages.healthy'), 'Healthy', '', '/healthy')}}
                {{render_link(url_for('pages.healthy'), 'Vegitatian', '', '/vegitarian')}}
                {{render_link(url_for('pages.baking'), 'Baking', '', '/baking')}}
                {{render_link(url_for('pages.miscellaneous'), 'Miscellaneous', '', '/miscellaneous')}}
                {{render_link(url_for('pages.miscellaneous'), 'About', '', '/about')}}
                
                <!-- <a href="#about">Create</a> -->
            </div>
            <!-- search box for mobile devices -->
            
            <!-- search block visible in desktop -->
            <div class="mob-search-wrapper" id="mobSearchBox">
                <div class="cont-search_wrapper">
                    {% include 'snippets/search_snippet.html'  %}
                </div>
            </div>
        </div>
        <!-- section to load page contents -->
        <div class="page-container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                    {{ message }}
                    </div>
                {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
        <!-- section to load page contents end -->
        <div class="footer-placeholder"></div>
        <div class="footer">
            <p>Find the perfect recipe for any occasion with our recipe search. Discover new flavors and cuisines today.</p>
        </div>
    </div>


</body>

</html>