
{% from "form_helpers.html" import render_field %}
{% extends 'base_n.html' %}

{% block content %}
<div class="content">
  <h2>Register</h2>
  <form method="POST" action="{{ url_for('auth.login') }}">
    {{ form.csrf_token }}
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
    
    <div class="action-button">
      <button type="reset"  class="reset">Cancel</button>
      <button type="submit" class="submit">Login</button>
    </div>
    
  </form>
</div>
{% endblock %}